<div class="card-row">
    <div class="card-col">
        <nb-card size="tiny" accent="info">
            <nb-card-body>
                <a routerLink="/pages/nodes" routerLinkActive="active" ariaCurrentWhenActive="page">Nodi Edge</a>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="card-col">
        <nb-card size="tiny" accent="info">
            <nb-card-body>
                <a routerLink="/pages/devices" routerLinkActive="active" ariaCurrentWhenActive="page">Device</a>
            </nb-card-body>
        </nb-card>
    </div>
    
    <div class="card-col"></div>
    
</div> 